*{
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

h1{
    color: aquamarine;
    font-size: xx-large;
}

p{
    background-color: #FFc;
    color: black;
    font-size: 2em;
    
}

#contenedor{
    
    width:25%;
    background-color: #FFc;
    margin: auto;
    padding:15px;
    margin-top: 5%;
}