*{
    margin: 0;
    padding: 0;
    background-color: rgb(50, 4, 93);
}

h1{
    color: aquamarine;
    font-size: xx-large;
    text-align: center;
}

p{
    background-color: #FFc;
    color: black;
    font-size: 2em;
    
}

#contenedor{
    
    width:25%;
    background-color: #FFc;
    margin: auto;
    padding:15px;
    margin-top: 5%;
}

img{
    margin-top: 10%;
    width:23%;
}

#banner{
    background-color: #F00;
    width: 450px;
    height: 300px;
    position: absolute;
    left: 400px;
    top: 50px;
    font-size: 36px;
    text-align: center;
   
}
